{
    "CN": "server.example.com",
    "hosts": [
        "server.example.com"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "FR",
            "L": "Montcuq",
            "O": "{{ inventory_hostname }}",
            "OU": "OPSEC"
        }
    ]
}
