{
    "CN": "{{ reverts_server_name }}",
    "hosts": [
        "{{ reverts_server_name }}"
    ],
    "key": {
        "algo": "ecdsa",
        "size": 521
    },
    "names": [
        {
            "C": "FR",
            "L": "Montcuq",
            "O": "{{ (inventory_hostname | split('.'))[-2] }}",
            "OU": "OPSEC"
        }
    ]
}
